@model IEnumerable<ECommerceSite.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>
@{ 
   
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FBDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbluser.firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FBDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbluser.firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
